.container-main {
    height: 100vh;
    background-image: url('../../assets/images/bg-main-crypto.jpg');
};

.container-crypto-details {
    background-image: url('../../assets/images/bg-tab-crypto-details.jpg');
}