

.input-send  {
    width: 500px;
    background: none;
    border-color: #4facfe;
    color: #4facfe;
}
.input-value  {
    width: 500px;
    background: none;
    border-color: #4facfe;
    color: #4facfe;
}